# History files
.Rhistory
.Rapp.history
*.Rproj

# Data not suitable for upload
S3/data/ext/
S3/data/full/**
!S3/data/full/holdout_clusters/
!S3/data/full/allflu_wgs_ref.csv
S3/data/irat/
S3/data/partial/
S3/data/YX/
S3/analysis/subtyperaw/
S3/analysis/stack_tests/


# Temporary folder/files
tmp/

# Defunct files
*DEFUNCT.R
S3/figures_tables/outdated
S3/figures_tables/varimp_rf
S3/analysis/archive
S3/scripts/old

# Other do not upload
S3/analysis/subtyperaw_backup
S3/analysis/stacks_backup
S3/scripts/mmseqs-win64
S3/scripts/process_YX_data_LB_17_1_23.R
S3/scripts/extract_GenBank_flu.R
S3/figures_tables/ext
S3/figures_tables/pre_cluster
S3/drafts
S3/notes
*.sh

# Session Data files
.RData
.RDataTmp
*.rds
!S3/data/fold_indices_list.rds

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

